:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}


.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1em;
  grid-auto-flow: dense;
}

.portfolio > figure {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.portfolio img {
  flex: 1;
  object-fit: cover;
  width: 100%; /* UPDATED to fix layout in Chrome 76+ */
}

.portfolio figcaption {
  padding: 0.3em 0.8em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: right;
}

.portfolio .featured {
  grid-row: span 2;
  grid-column: span 2;
}